.toggle-header {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: #f9f9f9;
}

.toggle-header h2 {
  margin: 0;
  flex-grow: 1;
  font-weight: normal; 
  color: black; 
}

.toggle-header span {
  font-size: 1.2em;
}

.toggle-content {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 50px;
  display: none; 
}

.toggle-content.open {
  display: block;
}

.toggle-content h2 {
  margin-top: 0;
  font-weight: normal; 
  color: black; 
}

.toggle-content span {
  display: block;
  text-align: right;
  font-size: 1.2em;
}
@media (max-width: 768px) {
  .toggle-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-header h2 {
    padding-right: 0;
    padding-bottom: 5px; 
  }

  .toggle-header span {
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .toggle-header {
    padding: 8px;
  }

  .toggle-content {
    padding: 8px;
  }
}
